<% if @picture.errors.messages.any? %>
  <p class="error">Could not save the picture.</p>
  <ul>
    <% @picture.errors.messages.each do |column, message| %>
      <li>The <%= column %> column <%= message.first %>.</li>
    <% end %>
  </ul>
<% end %>

<%= form_for @picture do |f| %>
  <p>
    <%= f.label "artist" %><br>
    <%= f.text_field "artist" %>
  </p>

  <p>
    <%= f.label "title" %><br>
    <%= f.text_field "title" %>
  </p>

  <p>
    <%= f.label "url" %><br>
    <%= f.text_field "url" %>
  </p>

  <p>
    <%= f.check_box "copyrighted" %> <%= f.label "copyrighted", "Photo is copyrighted." %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>  
<% end %>