<h1>Pictures (<%= @pictures.length %>)</h1>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<%= link_to "New Picture", "/pictures/new" %>

<%- @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= "Copyright:" if picture.copyrighted %> <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), picture) %>
<% end %>